<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Media Manager</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
    <link rel="shortcut icon" href="./media/icon.png" type="image/x-icon">
</head>
<body>
    <input type="text" placeholder="Yourshop.myshopify.com">
    <button onClick="install()">Install</button>
    <script>
        function install() {
            let shop = document.querySelector('input').value
            let url = "https://media-management.herokuapp.com/shopify?shop="+shop+".myshopify.com"
            window.location.replace(url)
        }
    </script>
</body>
</html>